*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-size: 16px;
  font-weight: 400;
  color: #0D242E;
}

body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
  
}

/*MOBILE*/
.App-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('./images/books.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 100%;
  min-height: 100vh;
}

.header-mobile{
  display: flex;
  justify-content: center;
}

.title-mobile,
.title-sign-up-mobile,
.subtitle-sign-up-mobile
{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 34px;
  margin-bottom: 2rem;
}

.title-sign-up-mobile{
  width: 73%;
  text-align: center;
 
  margin-left: 14%;
}

.subtitle-sign-up-mobile{
  font-size: 18px;
  font-weight: 600;
}

.header-mobile .logo{
  margin-top:44px;
  margin-bottom: 104px;
  width: 43%;
}

.logInForm-mobile{
  display: flex;
  flex-direction: column;
  
  background-color: #fff;
  color:#0D242E;
  font-size: 16px;
  font-weight: 300;

  border: none;
  border-radius: 8px;
  
  width: 90%;
  min-width: 374px;
  height: 64%;
  margin-bottom: 20%;
}

.logInForm-mobile label {
  font-weight: 300;
  margin-top: 10px;
}

.btn-mobile {
  width: 100%;
  height: 2.5rem;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #08C642;
  color: #fff;
  border: none;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;

  margin-bottom: .75em;
  padding: .25em;
}

.logInForm-mobile input {
  width: 96%;
  height: 2.5rem;
  border: 0.5px solid #0D242E;
  border-radius: 5px;
 
  margin-top: 10px;
  margin-bottom: 0;
}

.emailForm{
  margin-bottom: 30px;
  margin-left: 4%;
}

.passwordForm{
  margin-left: 4%;
}

.passwordForm button {
  width: 96%;
  margin-top: 3rem;
}

.passwordContainer{
  position: relative;
}

.passwordContainer img{
  position: absolute;
  top: 46%;
  right: 6%;
}

.smallTxt {
  font-size: 12px;
  font-weight: 400;
  color: #1076B5;
  text-align: right;
  margin-top: 5px;
  margin-right: 4%;
  text-decoration: underline;
}

b{
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

b:hover{
  cursor: pointer;
}

footer{
  font-weight: 400;
  font-size: 16;
  margin-top: 9%;
  margin-bottom: 5%;
  text-align: center;
}

/*WEB*/

.App-web{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  margin: 40px;
  background-image: none;
  background-color: #fff;
  box-shadow: 0 5px 15px #00347026;
  
  height: 100%;
  min-height: 100vh;
}

.logInForm-web{
  display: flex;
  flex-direction: column;
  
  background-color: #fff;
  color:#0D242E;
  font-size: 16px;
  font-weight: 300;

  border: none;
  border-radius: 8px;
  
  width: 42%;
  min-width: 42vw;
}

.header-web{
  display: flex;
  justify-content: center;
}

.header-web .logo{
  margin-top: 40px;
  margin-bottom: 0;
  width: 44%;
}

.logInForm-web{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  color:#0D242E;
  font-size: 16px;
  font-weight: 300;

  border: none;
  
  width: 42%;
  height: 100%;
}

.logInForm-web label {
  font-weight: 300;
  margin-top: 10px;
}

.btn-mobile {
  width: 100%;
  height: 2.5rem;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #08C642;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.logInForm-web input {
  width: 96%;
  height: 2.5rem;
  border: 0.5px solid #0D242E;
  border-radius: 5px;
 
  margin-top: 10px;
  margin-bottom: 0;
}

.logInForm-web .emailForm{
  width: 65%;
  margin-bottom: 30px;
  margin-left: 4%;
}

.logInForm-web .passwordForm{
  width: 65%;
  margin-left: 4%;
}

.logInForm-web footer{
  font-weight: 400;
  font-size: 16;
  margin-top: 9%;
  margin-bottom: 5%;
  width: 65%;
  text-align: center;
}
.passwordContainer{
  position: relative;
}

.passwordContainer img{
  position: absolute;
  top: 46%;
  right: 6%;
}

.sideImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 58%;
  min-width: 58vw;
}

.books{
  height: 100%;
  width: auto;
}

/*Button effects*/

.unactive{
  background-color: rgba(8, 198, 66, 0.5);
}

.active{
  background-color: rgba(8, 198, 66, 1);
}

.active:hover,
.active:focus{
  cursor: pointer;
}

.emailInput,
.passwordInput{
  color:#0D242E;
  font-weight: 500;
  font-size: 1.1rem;
}

.confirmPasswordForm{
  margin-top: 30px;
}

.blue{
  color:#1076B5;
}

.green{
  color: #08C642;
}