*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
    font-weight: 400;
    color: #0D242E;
  }

  body {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F8F8;
    
  }

  .Library-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #FFFFFF;
    height: 100%;
    min-height: 100vh;
  }

  header{
    width: 100%;
  }

  .library-header-mobile,
  .library-header-web{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
    width: 100%;
    height: 6.7%;
    padding: 15px 0;
  }


  /*HEADER MOBILE*/
.library-header-mobile .logo-library{
    width: 128.5px;
    height: 29px;
}

.library-header-mobile .menu{
    padding-left: 4.8%;
}

.library-header-mobile .profile{
    padding-right: 4.8%;
}

/*HEADER WEB*/
.library-header-web{
  height: 63px;
}

.library-header-web .logo-library{
  width: 136.5px;
  height: 30px;
  color: #08C642;
  margin-left: 50px;
}

.library-header-web .profile{
  padding-right: 2.6%;
}

.library-header-web .menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 239px;
  height: 41px;
  margin-top: 22px;
}

.library{
  font-size: 16px;
  font-weight: 700;
  border-bottom: 5px solid #08C642;
  padding-bottom: 20px;
}

.library-container-mobile{
      width: 90%;
      height: 100%;
      margin-top: 4.2%;
}

.library-container-web{
    width: 90%;
    height: 100%;
    margin-top: 4.2%;
}

.search-label{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.search-container{
    position: relative;
    height: 62px
}
  
.search-container img{
    position: absolute;
    top: 35%;
    right: 2%;
}

.searchForm{
    margin-top: 38px;
    margin-bottom: 31px;
}

#search{
    border: 0.2px solid #0D242E;
    border-radius: 5px;
    width: 100%;
    height:42px;
    color: #0D242E;
    margin-top: 10px;
}

.book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 6px #00000017;

    margin-bottom: 35px;
}

.book-cover{
    width: 96px;
    height: 136px;

    border: none;
    border-radius: 8px;
    margin-top: 11px;
    margin-bottom: 18px;
}

.book-title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    width: 352px;
    max-height: 50px;
    margin: 0;

    text-transform: uppercase;
}

.book-author{
    color: #1076B5;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 18px;
}

.book-genre{
    font-size: 14px;
    text-decoration: none;
}

.book-genre b{
    text-transform: none;
    text-decoration: none;
}

.book-dates {
    margin-top: 18px;
    margin-bottom: 27px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-dates p,
.book-dates b
{
   font-size: 14px;
   text-decoration: none;
}

  .created{
    margin-right: 9px;
  }

  .updated{
    margin-left: 9px;
  }

  .show-book{
    width: 100%;
    height: 34px;
    background-color: #1076B5;
    border: none;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px #00000017;
  }

  .show-book img{
    width: 11px;
    height: 18px;
  }
